<%- include('partials/header'); -%>

<header>
  <div class="burger">
    <img src="/burger.png" alt="">
  </div>
  <div class="headings">
    <h2>BG FOODS</h2>
    <h3>BG TECH</h3>
    <a href="/see-orders" class="btn">Get Orders</a>
    <a href="/edit-menu" class="btn">Edit Menu</a>
    <a href="/create-menu" class="btn">Create Menu</a>

  </div>
</header>


<%- include('partials/footer'); -%>