<%- include('partials/header'); -%>


<div id="userId" style="color: white;"> <%=user.name%> </div>

<fieldset id="checkOrders">
<legend>
    <h3>Edit Order by Selecting the Id</h3>
</legend>
<form id="get">
    <button>Get Orders</button>
    <div id="order"></div>
</form>
</fieldset>


<form id="edit-order" action="">
    <h2>Edit Order</h2>
    <label for="orderId">insert order id here:</label>
    <input type="text" name="orderId" required>
    <label for="restaurant">Restaurant</label>
    <select name="restaurant" id="restaurant-list">
        <option value="null">-----</option>
    </select>

    <label for="food">Food</label>
    <select name="drink" id="food-list"></select>

    <label for="drink">Drink</label>
    <select name="drink" id="drink-list"></select>
    <button>Update</button>
    <button id="delete-btn">Delete</button>
</form>



<script>
    const id = document.querySelector('#userId').textContent

    const orderForm = document.getElementById('get')

    orderForm.addEventListener('submit', async (e)=>{
        e.preventDefault()


        let container = []

        const order = document.getElementById('order')
        order.textContent = ''
        console.log(id)
            const res = await fetch('/get-orders')
            .then(res => res.json())
            .then(data=> 
            {
                data.forEach(menu=>{
                    container.push(`${menu.restaurant} | ${menu._id} | ${menu.food} | ${menu.drink}`)
                })
            }
            )

            

            container.forEach((meal)=> {
                const meals = document.createElement('p')
                const textnode = document.createTextNode(meal)
                meals.appendChild(textnode)
                order.appendChild(meals)
                order.classList.add('enlarge')
            })
            })

            window.addEventListener('load', (e)=>{
        let container = []
    const res = fetch('/get-menu')
        .then(res => res.json())
        .then(data=> 
        {
        
        data.forEach((item)=>{
            container.push(item.restaurant)
        })
        console.log(container)
        const restaurantList = document.querySelector('#restaurant-list')
        let contain = []
        for(let a=0; a<container.length; a++){
            if(contain.indexOf(container[a])===-1){
                contain.push(container[a])
            }
        }
        for(let b=0; b<contain.length;b++){
            const option = document.createElement('option')
            option.value = contain[b]
            option.text = contain[b]
            restaurantList.appendChild(option)
        }
        })

    })


    const restaurantList = document.getElementById('restaurant-list')

    restaurantList.addEventListener('change', (e)=>{
        e.preventDefault()
        const foodList = document.getElementById('food-list');
        const option = document.createElement('option')
        foodList.textContent = ``
        

        let restName = restaurantList.options[restaurantList.selectedIndex].text
        let foodContainer = []
        const res = fetch('/get-menu')
        .then(res => res.json())
        .then(data=> {
            data.forEach(item=>{
                if(item.restaurant===restName){
                foodContainer.push(item.food)
                }
            })
            const foodList = document.getElementById('food-list')
            let contain = []
            for(let m=0; m<foodContainer.length; m++){
                if(contain.indexOf(foodContainer[m])===-1){
                contain.push(foodContainer[m])
            }
        }
            for(let n=0; n<contain.length; n++){
                const option = document.createElement('option')
                option.value = contain[n]
                option.text = contain[n]
                foodList.appendChild(option)
            }
        })
    })



    restaurantList.addEventListener('change', (e)=>{
        e.preventDefault()
        const drinkList = document.getElementById('drink-list');
        const option = document.createElement('option')
        drinkList.textContent = ``
        

        let restName = restaurantList.options[restaurantList.selectedIndex].text
        let drinkContainer = []
        const res = fetch('/get-menu')
        .then(res => res.json())
        .then(data=> {
            data.forEach(item=>{
                if(item.restaurant===restName){
                drinkContainer.push(item.drink)
                }
            })
            let contain = []
            for(let m=0; m<drinkContainer.length; m++){
                if(contain.indexOf(drinkContainer[m])===-1){
                contain.push(drinkContainer[m])
            }
        }
            const drinkList = document.getElementById('drink-list')
            for(let n=0; n<contain.length; n++){
                
                const option = document.createElement('option')
                option.value = contain[n]
                option.text = contain[n]
                drinkList.appendChild(option)
            }

        })
    })


    const editForm = document.querySelector('#edit-order')

    editForm.addEventListener('submit', (e)=>{
        e.preventDefault()
    
        const restaurant = document.getElementById('restaurant-list').value
        const food = document.getElementById('food-list').value
        const drink = document.getElementById('drink-list').value
        const id = editForm.orderId.value

        try{
            const res = fetch('/edit-order', {
                method: 'PATCH',
                body: JSON.stringify({restaurant, drink, food, id}),
                headers: {
                    'Content-Type': 'application/json'
                },
            }).then((res)=> res.json())
            .then((data)=> console.log(data))
        }catch(e){
            console.log(e)
        }

        const foodList = document.getElementById('food-list')
        const drinkList = document.getElementById('drink-list');
        drinkList.textContent = ``
        foodList.textContent = ``
    })

    const deleteBtn = document.querySelector('#delete-btn')

    deleteBtn.addEventListener('click', (e)=>{
        e.preventDefault()

        const id = editForm.orderId.value

        try{
            const res = fetch('/delete-order', {
                method: 'DELETE',
                body: JSON.stringify({id}),
                headers: {
                    'Content-Type': 'application/json'
                }
            }).then((res) => res.json())
            .then((data)=>console.log(data))
        }catch(e){
            console.log(e)
        }
    })
</script>


<%- include('partials/footer'); -%>