<%- include('partials/header'); -%>

<% if(user) { %>
    <div id="userId"> <%=user.email%> </div>
    <% } else { %> 
    <li><a href="/login">Log In</a></li>
<% } %>

<% if(order){ %>
    <div><%=order %></div>
    <%} else { %>
    <li> no order made yet </li> 
    <% } %>

<div id="get"></div>

<script>
// const get = document.getElementById('get')

// window.addEventListener('load', async(e)=>{
//     e.preventDefault()

//     const res = fetch('/get-orders').then(response=>response.json()).then(data=> console.log(data))
// })
</script>

<%- include('partials/footer'); -%>