<%- include('partials/header'); -%>

<header>
  <div class="burger">
    <img src="/burger.png" alt="">
  </div>
  <div class="headings">
    <h2>BG FOODS</h2>
    <h3>BG TECH</h3>
    <a href="/make-order" class="btn">Create Order</a>
  </div>
</header>


<%- include('partials/footer'); -%>