<%- include('partials/header'); -%>

<% if(user) { %>
    <div id="userId"> <%=user._id%> </div>
    <% } else { %> 
    <li><a href="/login">Log In</a></li>
<% } %>

<form action="">
    <h2>Order for Food</h2>
    <label for="order">Make-Order</label>
    <input type="text" name="description" required>
    <div class="error description"></div>
    <button>Order</button>
</form>

<form id="get">
    <button>Get Orders</button>
    <div id="order"></div>
</form>

<script>
    const form = document.querySelector('form')
    const descriptionError = document.querySelector('.description.error')
    const id = document.getElementById("userId").textContent 

    
    window.addEventListener('load', (e)=>{
        console.log(id)
    })


    form.addEventListener('submit', async (e)=>{
        e.preventDefault();

        //reset errors
        // descriptionError.textContent = ''
        //get values from html to use

        const description = form.description.value
        const id = document.getElementById("userId").textContent.trim()
        
        try{
            const res = await fetch('/make-order', {
                method: 'POST',
                body: JSON.stringify({ description,  id}),
                headers: { 'Content-Type': 'application/json'}
            });
            const data = await res.json()
                console.log(data)
            if(data.errors){
                descriptionError.textContent = data.errors
            }

            if(data.order){
                // location.assign('/make-order')
            }

        }catch(e){

        }  
          })
    

    const orderForm = document.getElementById('get')

    orderForm.addEventListener('submit', async (e)=>{
        e.preventDefault()

        let container = []

        const order = document.getElementById('order')
        console.log(id)
            const res = await fetch('/get-orders')
            .then(res => res.json())
            .then(data=> 
            {
                data.forEach(menu=>{
                    container.push(menu.description)
                })
            }
            )

            container.forEach((meal)=> {
                console.log(meal)
                const meals = document.createElement('li')
                const btn = document.createElement('button')
                const btnText = document.createTextNode('edit')
                const textnode = document.createTextNode(meal)
                
                meals.appendChild(textnode)

                btn.appendChild(btnText)

                meals.appendChild(btn)
                order.appendChild(meals)
            })
            })
            
            
</script>

<%- include('partials/footer'); -%>