<%- include('partials/header'); -%>

<div id="userId" style="color: white;"> <%=user._id%> </div>
<div id="userId" style="color: blue;"> <%=order%> </div>

<form action="">
    <h2>Order for Food</h2>
    <label for="order">Make-Order</label>
    <input type="text" name="description" required>
    <div class="error description"></div>
    <button id="order-btn">Order</button>
</form>

<form id="get">
    <button>Get Orders</button>
    <div id="order"></div>
</form>

<script>
    const form = document.querySelector('form')
    const descriptionError = document.querySelector('.description.error')
    const id = document.getElementById("userId").textContent 

    
    window.addEventListener('load', (e)=>{
        console.log(id)
    })


    form.addEventListener('submit', async (e)=>{
        e.preventDefault();

        //reset errors
        // descriptionError.textContent = ''
        //get values from html to use

        const description = form.description.value
        const id = document.getElementById("userId").textContent.trim()
        
        try{
            const res = await fetch('/make-order', {
                method: 'POST',
                body: JSON.stringify({ description,  id}),
                headers: { 'Content-Type': 'application/json'}
            });
            const data = await res.json()
                console.log(data)
            if(data.errors){
                descriptionError.textContent = data.errors
            }

            if(data.order){
                // location.assign('/make-order')
            }

        }catch(e){

        }  
          })
    
    let container = []
    const res = fetch('/get-orders')
        .then(res => res.json())
        .then(data=> 
        {
                data.forEach(menu=>{
                    container.push(menu.description)
                })
        })

    console.log(container)

    

    const orderForm = document.getElementById('get')

    orderForm.addEventListener('submit', async (e)=>{
        e.preventDefault()


        let container = []

        const order = document.getElementById('order')
        order.textContent = ''
        console.log(id)
            const res = await fetch('/get-orders')
            .then(res => res.json())
            .then(data=> 
            {
                data.forEach(menu=>{
                    container.push(menu.description)
                })
                console.log(data)
            }
            )

            

            container.forEach((meal)=> {
                console.log(meal)
                const meals = document.createElement('p')
                const btn = document.createElement('button')
                const btnText = document.createTextNode('edit')
                const textnode = document.createTextNode(meal)
                meals.appendChild(textnode)
                btn.classList.add('edit-btn')
                meals.classList.add('enlarge')
                
                btn.appendChild(btnText)

                meals.appendChild(btn)
                order.appendChild(meals)
            })
            })

    const editBtn = document.querySelector('edit-btn')


    // editBtn.addEventListener('click', (e)=>{
    //     e.preventDefault()

    //     console.log(e)
    // })
            
            
</script>

<%- include('partials/footer'); -%>