<%- include('partials/header'); -%>

<div id="userId" style="color: white;"> <%=user._id%> </div>



<form action="/export" method="POST">
    <button type="submit">Export to Excel</button>
</form>


<%- include('partials/footer'); -%>